<div class="page">
    <h2 class="title">Infrastructure as a Code</h2>
    <app-table [data]="table1" [identifier]="table1[0].stageDef!" [page] = "pageName" (selectedValuesChange)="updateSelectedValues($event)">
    </app-table>
    <app-table [data]="table2" [identifier]="table2[0].stageDef!" [page] = "pageName" (selectedValuesChange)="updateSelectedValues($event)">
    </app-table>
</div>


<div class="footer" *ngIf="showFooter1 && showFooter">
    <div class="text-center">
        <a type="button" class="btn btn-secondary btn-sm me-2" [routerLink]="['/feature1/cat']">Previous</a>

        <button type="button" class="btn btn-primary btn-sm me-2" (click)="saveAll()">Save</button>
        <a type="button" class="btn btn-secondary btn-sm" [routerLink]="['/feature1/cdd']">Next</a>
    </div>
</div>