img {
    height: 150px;
}
.options {
    align-items: center;
    text-align: center;
}
button{
    cursor: pointer !important;
}
// .image {
//     text-align: center;
//     background-color: transparent;
//     box-sizing: content-box;
// }