i {
    color: blue;
    border: none;
    margin: 0px;
    border-style: none;
}
.example-icon{
    cursor: pointer !important;
}
.fa-bars{
    border: none !important;
    cursor: pointer !important;
}
.toolbar {
    background-color: rgba(20, 12, 12, 0.228);
    border-radius: 10px 10px 0 0
}
