<mat-toolbar class="toolbar">
  <div *ngIf="!dbService.isHomeRoute" mat-icon-button class="example-icon btn" (click)="toggleSidebar()">
      <i class="fas fa-bars menuIcon"></i>
  </div>
  <span class="ms-2" [routerLink]="'/home'">DevSecOps-Maturity-Assessment</span>
  <span class="example-spacer"></span>

  <!-- <button class="btn btn-primary" *ngIf="dbService.loggedInUserRole == 'Admin'" routerLink="/admin-dashboard" >Admin Dashboard</button> -->

  <!-- <button  [matMenuTriggerFor]="profileMenu" class="profile-button example-icon"  >
   
  </button>
 -->
  <!-- <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="viewProfile()" class="menu-item">
      <i class="fas fa-user"   [matTooltip]="'Click to viewProfile'"></i> View Profile
    </button>
    <button mat-menu-item  class="menu-item">
      <i class="fas fa-sign-out-alt" [matTooltip]="'Click to Logout'"  ></i>Logout
    </button>
  </mat-menu> -->

  <!-- <button mat-icon-button (click)="onLogOutClick()" class="example-icon button-hand">
    <i class="fas fa-sign-out-alt" [matTooltip]="'Click to Logout'" ></i>
  </button>
 -->



</mat-toolbar>